<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/button.css">
  </head>
  <body>
    <% include partials/header %>
    <header>
      <div class="top_section">
              <nav class="menu">
              <figure class= "awlogo">
                      <img class="awicon" src="/images/altwarslogo.jpeg" alt="alt_code_war Logo">
              </figure>
              <h1 class="altwar_title">ALT WAR</h1>
                      <ul>
                          <li>Home</li>
                          <li>Login</li>
                          <li>SignUp</li>
                          <li>Log Out</li>
                      </ul>
              </nav>
      </div> 
         <section class="hero">
              <figure class= "altWarlogo">
                      <img class="logo" src="/images/altwarslogo.jpeg" alt="alt_code_war Logo">
              </figure>
              <article class="intro_text">
                  <h1 class="here">Here at ALT Campus</h1><br>
                  <h2 class="train">We train to become the best</h2><br>
                  <button class="big-button" data-action="submit">
                          JOIN</button>
                  <p class="acc">ALT CAMPUS CODEWAR</p>
              </article>
          </section>
  </header>

  <!-- Table  -->
  <table class="table" id="table">
      <thead>
        <tr>
          <th>email</th>
          <th>username</th>
          <th>kata</th>
          <th>score</th>
        </tr>
      </thead>
      <tbody>
                 
      </tbody>

    </table>
  </body>
</html>
