<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p> Not ALL those who wander are LOST.</p>
  <p> But You Definetely Are </p>
</body>

</html>