<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		nav ul {
			display: flex;
			justify-content: space-between;
		}
	</style>
</head>
<body>
	<header>
		<h1>header</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users/login">login</a></li>
				<li><a href="/users/register">signup</a></li>
				<li><a href="/users/logout">logout</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>