<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	<header class="header">
		<nav>
			<li><a href="/" class="logo">CodeWars Score Trcaker</i></a></li>
			<ul>
				<% if(user){ %>
					<li class="li">
						<div class="user-profile">
						<% if (user){ %>
							<img class="user" src="<%= user.profilePicURL %>" alt="">
						<% } %>

						</div>
						<a href="/users/logout">
							<button class='hdr-btn'>Logout</button>
						</a>
					</li>
				<% } else { %>
					<li>
						<a href="/users/register">
							<button class='hdr-btn'>Register</button>
						</a>
					</li>
					<li>
						<a href="/users/login">
							<button class='hdr-btn'>Login</button>
						</a>
					</li>
				<% } %>
			</ul>
		</nav>
	</header>
</body>
</html>