<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	<header class="header">
		<nav>
			<ul>
				<li><a href="/"><i class="fas fa-code"></i></a></li>
				<% if(user){ %>
					<li class="li">
						<div class="user-profile">
						<% if (user){ %>
							<img class="user" src=<%= user.profilePicURL %>" alt="">
						<% } %>

						</div>
						<a href="/users/logout">logout</a>
					</li>
				<% } else { %>
					<li><a href="/users/login">login</a></li>
					<li><a href="/users/register">signup</a></li>
				<% } %>
			</ul>
		</nav>
	</header>
</body>
</html>