<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<% include partials/header %>

    <h1>home page</h1>
  </body>
</html>
