<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <% include partials/header %>

  <section class="container">
    <main>
      <h3 class="boardHeading">Weekly Board</h3>
      <div class="dropdown-container">
        <div class="dropdown-div">

          <div class="toggleButtons">
            <button id="ascendingBtnw" class="btn" type="button" name="button">ascending</button>
            <button id="descendingBtnw" class="btn" type="button" name="button">descending</button>
          </div>


        </div>
      </div>

      <%/* table %>
      <%// ===================================== */%>
      <table class="table" id="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Questions Solved</th>
          </tr>
        </thead>
        <tbody id="tableBodyw" class="tableBody" data-user='<%= user.username %>'>
          <tr>
            <td colspan="4">LOADING...</td>
          </tr>
        </tbody>
      </table>
    </main>
  </section>
  <script src="/js/weekly.js"></script>
</body>

</html>